		</div> <!-- container -->
	</div> <!-- content-wrap -->
	<footer>
		<div class="container d-none d-lg-block">
			<div class="row pb-2">
				<div class="col-6">
					<%- partial('partials/buttons/copyright') %>
				</div>
				<div class="col-6 pb-2">
					<%- partial('partials/buttons/social4') %>
					<%- partial('partials/buttons/social3') %>
				</div>
			</div>
		</div>
		<div class="container d-none d-sm-block d-lg-none">
			<div class="row">
				<div class="col-6">
					<%- partial('partials/buttons/copyright') %>
				</div>
				<div class="col-6">
					<%- partial('partials/buttons/social4') %>
				</div>
			</div>
			<div class="row pb-3 pt-1">
				<div class="col-6 offset-6">
					<%- partial('partials/buttons/social3') %>
				</div>
			</div>
		</div>
		<div class="d-block d-sm-none">
			<div class="d-flex justify-content-center">
				<%- partial('partials/buttons/copyright') %>
			</div>
			<div class="d-flex justify-content-center mt-1">
				<%- partial('partials/buttons/social4') %>
			</div>
			<div class="d-flex justify-content-center pb-3 pt-1">
				<%- partial('partials/buttons/social3') %>
			</div>
		</div>
	</footer>
</div> <!-- page-container -->